<style>
    .play-pause,
    .play-next {
        width: 25px;
    }

    .time-slider {
        padding: 0 15px;
    }

    .volume-slider {
        width: 90px;
    }

    .curUser {
        font-weight: bold;
        text-decoration: underline;
    }

    .delete-track-button {
        cursor: pointer;
        display: none;
    }

    tr:hover .delete-track-button {
        display: inline-block;
    }

    .track-number {
        display: inline;
    }

    .play-track-button {
        display: none;
    }

    tr:hover .track-number {
        display: none;
    }

    tr:hover .play-track-button {
        display: inline;
    }

    .clip-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<div class="ng-cloak" ng-show="isInited">

    <div class="row" style="padding-top: 30px;">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="clip-text"style="min-height: 20px;">
                        {{playerState.title()}}
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        <img ng-src="{{playerState.imageUrl()}}" width="100%" />
                    </div>
                </div>
                <div class="panel-footer" style="font-size: 12px;">
                    <div>
                        <table style="width: 100%" class="player-controls">
                            <tr>
                                <td class="play-pause">
                                    <button ng-click="requestPlayPause()">
                                        <i class="fa fa-play" ng-show="playerState.mode !== 'PLAYING'"></i>
                                        <i class="fa fa-pause" ng-show="playerState.mode === 'PLAYING'"></i>
                                    </button>
                                </td>
                                <td class="play-next">
                                    <button ng-click="requestPlayNext()">
                                        <i class="fa fa-fast-forward"></i>
                                    </button>
                                </td>
                                <td class="time-slider">
                                    <slider ng-model="playerState.time" min="0" step="1" max="playerState.length" tooltip="hide" on-stop-slide="requestVolumeUpdate" style="width: 100%;" ng-disabled="true" handle="triangle"></slider>
                                </td>
                                <td class="volume-slider">
                                    <i class="fa fa-volume-up" style="font-size: 150%;" ng-show="playerVolume > 55"></i>
                                    <i class="fa fa-volume-down" style="font-size: 150%;" ng-show="playerVolume > 0 && playerVolume <= 55" ></i>
                                    <i class="fa fa-volume-off" style="font-size: 150%;" ng-show="playerVolume === 0"></i>
                                    <slider ng-model="playerVolume" min="0" step="5" max="100" on-stop-slide="requestVolumeUpdate" style="width: 60px; float: right;"></slider>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">

                                </td>
                                <td colspan="2">
                                    {{playerState.time | duration}}
                                </td>
                            </tr>
                        </table>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Playlist</span>
                    <form class="pull-right form-inline" ng-submit="addUrl()" name="addTrackForm" style="margin-top: -7px; margin-right: -12px;" novalidate="">
                        <div class="form-group">
                            <input type="url" class="form-control" placeholder="youtube url" required ng-model="newTrackUrl">
                        </div>
                        <button type="submit" class="btn btn-default">Add</button>
                    </form>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 60px;">
                                    #
                                </th>
                                <th style="width: 90px;">
                                    Added By
                                </th>
                                <th>
                                    Title
                                </th>
                                <th style="width: 90px;">
                                    Duration
                                </th>
                                <th style="width: 50px;">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="track in tracks">
                                <td>
                                    <span class="track-number" ng-show="track.id !=  playerState.trackId">
                                        {{$index + 1}}
                                    </span>
                                    <span ng-show="track.id == playerState.trackId" ng-click="requestPlayPause(track.id)" style="cursor: pointer">
                                        <i class="fa fa-play" ng-show="playerState.mode !== 'PLAYING'"></i>
                                        <i class="fa fa-pause" ng-show="playerState.mode === 'PLAYING'"></i>
                                    </span>
                                    <span class="play-track-button" ng-show="track.id != playerState.trackId" ng-click="requestPlayPause(track.id)" style="cursor: pointer">
                                        <i class="fa fa-play"></i>
                                    </span>
                                </td>
                                <td>
                                    {{track.addedBy}}
                                </td>
                                <td>
                                    {{track.info.title}}
                                </td>
                                <td>
                                    {{track.info.totalSeconds | duration }}
                                </td>
                                <td>
                                    <i class="fa fa-trash delete-track-button" ng-click="requestTrackRemoval(track)" ng-hide="track.isRemoved">
                                    </i>
                                    <i class="fa fa-spinner fa-spin" ng-show="track.isRemoved"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Users
                </div>
                <div class="panel-body">
                    <ul style="list-style-type: none; padding: 0;">
                        <li ng-repeat="user in users">
                            <i class="fa fa-user"></i>
                            <span ng-class="{'curUser': user === username}">{{user}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="username == 'oleksiy'" class="col-md-12">
        <div>
            <button ng-click="prefill()">
                Prefill
            </button>
            <div style="display: inline-block">
                {{trackCounters | json}}
            </div>
        </div>
        <div id="playerId"></div>
    </div>
</div>
